/* entire page */
body {
    /* font-size: 20px; */
    font-family: 'Lucida Sans Unicode';
    background-color:black;
   
}

h1 {
    background-color: black;
    color: white;
}

/* questions / answers section */
.quiz {
    background-color:white;
    color:black;
    width: 500px;
    padding: 25px;
    border: 5px solid darkgoldenrod;
    border-radius: 20px;
    /* align-items:baseline; */
    
}

/* TIMER */

p #timer {
    color: red;

}

/* BUTTONS */

button {
    font-size: 16px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    
}

button:hover {
    background-color:darkblue;
    /* opacity: 80%; */
    cursor: grab;
    color: white;
}
