/* entire page */
body {
    /* font-size: 20px; */
    font-family: 'Lucida Sans Unicode';
    background-color:white;
   
}



/* questions / answers section */
.quiz {
    background-color:black;
    color:white;
    width: 500px;
    padding: 25px;
    border: 5px solid red;
    border-radius: 20px;
    align-items ;
    
}

/* TIMER */

p #timer {
    color: red;

}

/* BUTTONS */

button {
    font-size: 16px;
    background-color: midnightblue;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

button:hover {
    background-color: teal;
    opacity: 80%;
    cursor: grab;
}